.nas1 {
  display: flex;
  padding: 20px;
}

.nas2 {
  background-color: rgb(255, 247, 247);
}

.nas3 {
  display: flex;
  padding: 20px;
}

.nas4 {
  background-color: rgb(240, 247, 244);
}

.nas5 {
  display: flex;
  padding: 20px;
}

.nas6 {
  background-color: rgb(255, 252, 248);
}
